
*{
margin:0;
padding:0;
}
.new{
    padding:1%;
    background: linear-gradient(to bottom right, #fa95e3 5%, #3a023cef 90%);
    text-align: center;
    margin: auto;
    top:0%;
    left:0%;
    position:fixed;
  width:100%;
  text-decoration: bold;
  font-weight: bolder;
  font-family: monospace;
  font-size: 2.5em;
  font-variant: small-caps;
  letter-spacing: 0.4em;
 
}
ul{
list-style-type:none;
}
body{
  background: rgb(113, 110, 247);
  animation: main 20s infinite;
}

@keyframes main {
  0%{background:rgb(113, 110, 247);}
  25%{
    background: rgb(14, 188, 236);
  }
  50%{
   background: rgb(110, 173, 255);
  }
  100%{
    background: rgb(2, 93, 111);
  }
}
.contain{
  margin-top: 10%;
  margin-left: 10%;
  
}
.title1{
  background-image:linear-gradient(to bottom right, #fa95e3 5%, #3a023cef 90%) ;
  position:absolute;
  padding: 0.5%;
  border-radius: 0.21em;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  white-space: nowrap;

}
.stat{
  
  margin-top: 4.6%;
  margin-left: 10%;

  position: relative;
  display:inline-block;
  font-size: 1.4em;
  background-color: black;
  color:aquamarine;
  height: 150px;
  width:275px;
  border-radius: 5px;
  white-space: nowrap;
  padding-left: 1%;

  
}
.plus{
  position: absolute;
  bottom:0;
  font-size: 3.5em;
  
  right:0;
}
.icone1{
  text-align: left;
  font-size: 0.8em;
  color: rgb(255, 0, 0);
  padding-left: 50%;
}
.icone2{
  text-align: left;
  font-size: 0.8em;
  color: rgb(255, 0, 0);
  padding-left: 50%;
}
.icon1{
  color:rgb(238, 215, 8);
}
.icon2{
  color:rgb(238, 215, 8);
  padding-right: 1.25%;
}
.icon1:hover{
  position: relative;
  top:-3px;
  cursor: pointer;
  color:rgb(209, 9, 9);
}
.icon2:hover{
  position: relative;
  top:-3px;
  cursor: pointer;
  color:rgb(209, 9, 9);
}
.icone1:hover{
  position:relative;
  top:-3px;
  cursor:pointer;
  color:rgb(238, 215, 8);

}
.icone2:hover{
  position:relative;
  top:-3px;
  cursor:pointer;
  color:rgb(238, 215, 8);

}
.b1{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding:1%;
}
.b2{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding:1%;
}
.b1:hover{
  background-color:chartreuse;
  cursor: pointer;
}
.b2:hover{
  background-color: chartreuse;
  cursor: pointer;
}
@media screen and (max-width:1300px){
 
  .stat{
    margin-top:5%;
  }
}
@media screen and (max-width:1195px){
 
  .stat{
    margin-top:5.5%;
  }
}
@media screen and (max-width:1025px){
 
  .stat{
    margin-top:5.4%;
  }
}
@media screen and (max-width:995px){
 
  .stat{
    margin-top:5.8%;
  }
}
@media screen and (max-width:885px){
 
  .stat{
    margin-top:6.5%;
  }
}
@media screen and (max-width:795px){
 
  .stat{
    margin-top:8%;
  }
}
@media screen and (max-width:700px){
 
  .stat{
    margin-top:8.5%;
  }
}
@media screen and (max-width:650px){
 
  .stat{
    margin-top:9%;
  }
}
@media screen and (max-width:600px){
 .contain{
  margin-top: 20%;
 }
  .stat{
    margin-top:9.5%;
  }
}
@media screen and (max-width:570px){
  .stat{
    margin-top:11%;
  }
}
@media screen and(max-width:500px){
  .stat{
    margin-top:15%;
  }
}
@media screen and(max-width:450px){
  .contain{
    margin-top: 20%;
  }
  .stat{
    margin-top:50%;
  }
}
@media screen and(max-width:300px)
{
  .conatain{
    margin-top:40%;
  }
  .stat{
    margin-top:60%;
  }
}